# 1. Introduction to Datatypes
 - "#" is used for commenting

## Integers

In [ ]:
x = 10 # to run a cell press shift+enter

In [4]:
x

10

In [5]:
print(x)

10

In [6]:
type(x)

int

# Strings
 - Strings - collection of characters
 - can be defined in "" (quotes)

In [12]:
string = "abc"

In [17]:
name = "Saroja"

In [18]:
print(name)

Saroja

In [14]:
print(string)

abc

In [16]:
print(type(string))

<class 'str'>

In [20]:
len(string) # len() is used to find the length of the datatype, list or tuples

3

In [21]:
len(name)

6

In [23]:
new_var = 22.5

In [24]:
print(type(new_var))

<class 'float'>

In [26]:
lis = [1,3,5,7]

# indexing

In [28]:
## starts from zero in python to length -1
len(string)

3

In [29]:
string

'abc'

In [30]:
string[0]

'a'

In [31]:
string[1]

'b'

In [32]:
string[5]

IndexError: string index out of range

In [34]:
string[-2]

'b'

In [73]:
string = "jkdsnflal,c;ldsmnsdv"

In [36]:
string[-1]

'v'

In [37]:
# Positive indexing: left to right [0]
# Negative indexing: right to left [-1]

In [74]:
string = "abcdef"

In [75]:
string = "def"
print(string)

def

In [40]:
string[0:4]

'abcd'

## Slicing
 - Extraction of a substring
 - syntax is start pos and end pos (end pos excluded)

In [48]:
string[3:-1]

'de'

In [46]:
string[:3]

'abc'

In [90]:
var = "ab_bc_cd_ed.json"

In [50]:
string_1 = "abc"
string_2 = "gfd"
string_1+string_2

'abcgfd'

In [82]:
num_var_1 = 123

In [83]:
type(num_var)

int

In [84]:
num_var = str(num_var_1)
type(num_var)

str

In [58]:
string_1+num_var

'abc123'

In [59]:
string_1.capitalize() #shift+tab+tab

'Abc'

In [63]:
string_1 = string_1.upper()

In [69]:
string.index("s")

3

In [86]:
string = "134"
string_3 = int(string)

In [87]:
type(string_3)

int

## Lists
 - data structure used to store multiple data types
 - MUTABLE
 - Syntax is []

In [91]:
list_1 = [1, 2, 3, 4]
print(list_1)

[1, 2, 3, 4]

In [92]:
print(type(list_1))

<class 'list'>

In [107]:
list_2 = [1, 2, 3.5, 5]

In [105]:
list_3 = ["abc", 123, 123.5, "def", True]

In [106]:
for i in list_3:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [111]:
list_2[1] = 6
list_2[-1] = 5

In [112]:
list_2

[1, 6, 3.5, 5]

In [113]:
list_2.pop()

5