## Functions(UDF - User Defined Functions

In [1]:
def SimpleFunctions():   #Define function
    print("Inside Function")
    print("Outside Function")

In [2]:
SimpleFunctions()

Inside Function
Outside Function

In [3]:
def FindMaximum(x,y):    #Define function to find maximum
    if x>y:
        return(x)
    else:
        return(y)

In [4]:
FindMaximum(5,25)

25

In [5]:
def Factorial(x):
    if x<=1:
        return(x)
    else:
        return(x*Factorial(x-1))

In [6]:
Factorial(5)

120

In [7]:
def IterFunction(num):
    result=1
    for item in range(1,num+1):
        result*=item
    return(result)

In [8]:
IterFunction(5)

120

In [9]:
for item in range(1,5+1):
    print(item)

1
2
3
4
5

In [10]:
num=int(input("Enter the number"))
print("Factorial of {} number is ".format(num),IterFunction(num))

Enter the number5
Factorial of 5 number is  120

In [11]:
def FunctionWithDefaultArgument(x=1):
    return x

In [12]:
FunctionWithDefaultArgument()

1

In [13]:
FunctionWithDefaultArgument(250)

250

## Lambda Functions

In [14]:
def MySquare(x):
    return x*x

In [15]:
MySquare(5)

25

In [16]:
sqrs = lambda x:x*x

In [17]:
sqrs(5)

25

In [18]:
myadd = lambda x,y:x+y

In [19]:
myadd(5,4)

9

In [20]:
print((lambda x,y:x+y)(2,5))

7

If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5 , print Not Weird
If n is even and in the inclusive range of 6 to 20, print Weird
If n is even and greater than 20, print Not Weird

Constraint is 1<=n<=100

In [21]:
n=3

In [22]:
if n%2==0:
    print("Weird")
elif (n>=2 and n<=5):
    print("Not Weird")
elif (n>=6 and n<=20):
    print("Weird")
elif n> 20:
    print("Not Weird")

Not Weird

In [23]:
n=101
if (n%2==0):
    print("Weird")
elif (2<=n<=5):
    print("Not Weird")
elif (6<=n<=20):
    print("Weird")
elif (n>20):
    print("Not Weird")

Not Weird

## args, kwargs

In [36]:
def sum_of_num_args(*args):
    # use doc string helps other developers to understand the function better
    """This function takes in multiple arguments and return the same"""
    print("args",args)
    print("Type of args:",type(args))
    result=0
    for i in args:
  #      print("Iterator ",i)
        result+=i
    print("result: ",result)
    print("Type of args ",type(args))

In [37]:
sum_of_num_args(5,3)

args (5, 3)
Type of args: <class 'tuple'>
result:  8
Type of args  <class 'tuple'>

In [26]:
sum_of_num_args(3,5,7,9)

args (3, 5, 7, 9)
Type of args: <class 'tuple'>
result:  24

In [27]:
t=(1,2,3,4,5)

In [28]:
sum_of_num_args(t)

args ((1, 2, 3, 4, 5),)
Type of args: <class 'tuple'>

TypeError: unsupported operand type(s) for +=: 'int' and 'tuple'

In [29]:
sum_of_num_args(t[0],t[1],t[2])

args (1, 2, 3)
Type of args: <class 'tuple'>
result:  6

## kwargs understanding

In [38]:
def printPlayerdetails(**kwargs):
    print("Player Details",kwargs)
    print("Type of kwargs",type(kwargs))
    for k,v in kwargs.items():
        print("k -> {}, v -> {}".format(k,v))

In [39]:
printPlayerdetails(name="Virat",age="33",team="RCB")

Player Details {'name': 'Virat', 'age': '33', 'team': 'RCB'}
Type of kwargs <class 'dict'>
k -> name, v -> Virat
k -> age, v -> 33
k -> team, v -> RCB

In [40]:
# output is in dictionary format,
#in case of args it was in tuple format
printPlayerdetails(name="Virat",age="33",team="RCB",status="Active")

Player Details {'name': 'Virat', 'age': '33', 'team': 'RCB', 'status': 'Active'}
Type of kwargs <class 'dict'>
k -> name, v -> Virat
k -> age, v -> 33
k -> team, v -> RCB
k -> status, v -> Active