In [3]:
score=input()
print(score,type(score))

hello
hello <class 'str'>

In [4]:
score=input()
print(score,type(score))

5
5 <class 'str'>

In [5]:
score=int(input())
print(score,type(score))

6
6 <class 'int'>

In [6]:
score=input()
score=int(score)
print(score,type(score))

6
6 <class 'int'>

In [8]:
if score>0:
    print("Positive Value")
else:
    print("Negative Value")

Positive Value

In [9]:
if score>0:
    print("Positive Value")
elif score==0:
    print("Number is Zero")
else:
    print("Negative Value")

Positive Value

In [11]:
x=1
while x<=5:
    print(x)
    x=x+1

1
2
3
4
5

In [12]:
r=range(10,51,5)
for i in r:
    print(i)

10
15
20
25
30
35
40
45
50

In [13]:
list1=[1,3,5,7]
for item in list1:
    x=item**2
    print(x)

1
9
25
49

In [15]:
websites=["amazon","flipkart","snapdeal"]
for sites in websites:
    print("www."+sites+".com")

www.amazon.com
www.flipkart.com
www.snapdeal.com

In [20]:
new_webs=[]
for sites in websites:
    #print("www."+sites+".com")
    new_webs.append("www."+sites+".com")
print(new_webs)

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com']

In [21]:
new_webs.append("www.myntra.com")

In [22]:
print(new_webs)

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com', 'www.myntra.com']

In [25]:
vk={"name":"Virat","Age":33,"Team":"RCB"}

In [29]:
vk

{'name': 'Virat', 'Age': 33, 'Team': 'RCB'}

In [27]:
vk.keys()

dict_keys(['name', 'Age', 'Team'])

In [28]:
vk.values()

dict_values(['Virat', 33, 'RCB'])

In [31]:
for i in vk:
    print(i)

name
Age
Team

In [33]:
for i in vk.values():
    print(i)

Virat
33
RCB

In [36]:
for i in vk.items():
    print(i)

('name', 'Virat')
('Age', 33)
('Team', 'RCB')

In [37]:
for i in range(1,11):
    print(i)
    if i==5:
        break

1
2
3
4
5

In [38]:
for i in range(1,11):
    if i%2 != 0:
        continue
    print(i)

2
4
6
8
10

In [40]:
for i in range(1,11):
        pass

In [46]:
#print the input taken in reverse order
test=input() [::-1]
print(test)

12345
54321

In [47]:
test=input() 
print(test [::-1])

12345
54321

In [54]:
#write a program to get sum of all elements in list
numbers=[1,2,3,4]
sum=0
for i in numbers:
    sum+=i
print("Sum =",sum)

Sum = 10