## Comprehensions

### List Comprehensions

In [3]:
#Create a list of some numbers and write the squares of same numbers

In [4]:
sq_list=[]
for i in range(1,11):
    sq_list.append(i*i)

In [5]:
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
num_list=range(1,11)

In [7]:
sq_list=[]
for i in num_list:
    sqs=i**2
    sq_list.append(sqs)
print(sq_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
sq_list=[]

In [9]:
print(sq_list)

[]

In [10]:
sq_list=[i**2 for i in range(1,11)]  #list comprehension

In [11]:
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
sq_list=[lambda x:x*x for x in range(1,11)]

In [13]:
print(sq_list)

[<function <listcomp>.<lambda> at 0x00000297D558F310>, <function <listcomp>.<lambda> at 0x00000297D558F3A0>, <function <listcomp>.<lambda> at 0x00000297D558F280>, <function <listcomp>.<lambda> at 0x00000297D558F160>, <function <listcomp>.<lambda> at 0x00000297D558F430>, <function <listcomp>.<lambda> at 0x00000297D558F4C0>, <function <listcomp>.<lambda> at 0x00000297D558F550>, <function <listcomp>.<lambda> at 0x00000297D558F5E0>, <function <listcomp>.<lambda> at 0x00000297D558F670>, <function <listcomp>.<lambda> at 0x00000297D558F700>]

In [14]:
#write a program to print all numbers between 1 and 21 divisible by 2.
#traditional way
result=[]
for i in range(1,21):
    if i%2 == 0:
        result.append(i)
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
#using list comprehension
result=[i for i in range(1,21) if i%2==0]

In [16]:
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
#write a program to get list of all the characters from subject 
#which are consonants
subject="MATEHMATICS"

In [18]:
#traditional way
result=[]
for i in subject:
    if i not in "AEIOU":
        result.append(i)
print( result)

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [19]:
result=[i for i in subject if i not in "AEIOU"]  #list comprehension

In [20]:
result

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [21]:
websites = ["amazon","flipkart","snapdeal","myntra"]

In [22]:
type(websites)

list

In [23]:
#output expected as www.amazon.com, www.flipkart.com using list comprehension

In [24]:
result= ["www."+i+".com" for i in websites]

In [25]:
result

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com', 'www.myntra.com']

In [26]:
#write a program which will find all such numbers which are divisible by 7, 
#but not a multiple of 5 for eg: avoid 35. between 200 to 320

In [27]:
result=[i for i in range(200,321) if (i%7==0 and i%5!=0)]

In [28]:
result

[203, 217, 224, 231, 238, 252, 259, 266, 273, 287, 294, 301, 308]

### Dictionary Comprehension

In [29]:
# given any number n as 5, Create a dictionary like mentioned below
# {1:1,2:4,3:9,4:16}

In [30]:
#traditional way
result = {}
for i in range(1,5):
    result[i] = i*i

In [31]:
result

{1: 1, 2: 4, 3: 9, 4: 16}

In [32]:
#Dictionary comprehension
result={i:i*i for i in range(1,5)}

In [33]:
result

{1: 1, 2: 4, 3: 9, 4: 16}

In [34]:
s = "The Quick Brown Fox Jumped Over the Lazy Dog"

In [35]:
s.count("t")

1

In [36]:
#count each character frequency in a text
result={i: s.count(i) for i in s}

In [37]:
result

{'T': 1,
 'h': 2,
 'e': 4,
 ' ': 8,
 'Q': 1,
 'u': 2,
 'i': 1,
 'c': 1,
 'k': 1,
 'B': 1,
 'r': 2,
 'o': 3,
 'w': 1,
 'n': 1,
 'F': 1,
 'x': 1,
 'J': 1,
 'm': 1,
 'p': 1,
 'd': 1,
 'O': 1,
 'v': 1,
 't': 1,
 'L': 1,
 'a': 1,
 'z': 1,
 'y': 1,
 'D': 1,
 'g': 1}

In [38]:
result={i: s.count(i) for i in s if i!=" "} # ignore space

In [40]:
result

{'T': 1,
 'h': 2,
 'e': 4,
 'Q': 1,
 'u': 2,
 'i': 1,
 'c': 1,
 'k': 1,
 'B': 1,
 'r': 2,
 'o': 3,
 'w': 1,
 'n': 1,
 'F': 1,
 'x': 1,
 'J': 1,
 'm': 1,
 'p': 1,
 'd': 1,
 'O': 1,
 'v': 1,
 't': 1,
 'L': 1,
 'a': 1,
 'z': 1,
 'y': 1,
 'D': 1,
 'g': 1}

In [3]:
nums=range(1,11)
even=lambda x:x%2==0

print(even(2))
print(even(3))
#will return only boolean values

True
False

In [5]:
print(list(map(even,nums)))

[False, True, False, True, False, True, False, True, False, True]